<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restful API Main Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script>
      function check() {
        let roleInput = document.querySelector('input[name="role"]').value;
        console.log(roleInput);
        fetch(`<%=TOKEN_URL %>/${roleInput}/<%=CHECK_URL %>`)
          .then((response) => response.json()) // 응답을 JSON으로 변환
          .then((data) => {
            console.log(data);
          })
          .catch((err) => {
            console.error(err);
          });
      }
      function issuing() {
        let roleInput = document.querySelector('input[name="role"]').value;
        console.log(roleInput);
        fetch(`<%=TOKEN_URL %>/${roleInput}/<%=ISSUE_URL %>`)
          .then((response) => response.json()) // 응답을 JSON으로 변환
          .then((data) => {
            console.log(data);
            //발급바은 token을 cookie에 저장
            document.cookie = `token=${data.token};path=/`;
          })
          .catch((err) => {
            console.error(err);
          });
      }
      function verification() {
        let roleInput = document.querySelector('input[name="role"]').value;
        fetch(`<%=TOKEN_URL %>/${roleInput}/<%=VERIFY_URL %>`)
          .then((response) => response.json()) // 응답을 JSON으로 변환
          .then((data) => {
            console.log(data);
          })
          .catch((err) => {
            console.error(err);
          });
      }
      function refreshing() {
        let roleInput = document.querySelector('input[name="role"]').value;
        fetch(`<%=TOKEN_URL %>/${roleInput}/<%=REFRESH_URL %>`)
          .then((response) => response.json()) // 응답을 JSON으로 변환
          .then((data) => {
            console.log(data);
            document.cookie = `token=${data.token};path=/`;
          })
          .catch((err) => {
            console.error(err);
          });
      }
      const removingToken = () => {
        document.cookie = `token=;max-age=-1;`;
        alert("토큰 삭제 완료!");
        window.location.reload();
      };

      const login = () => {
        const username = document.querySelector(
          "#login_form input[name='username']"
        ).value;
        const password = document.querySelector(
          "#login_form input[name='password']"
        ).value;
        const csrfToken = document.querySelector(
          "#login_form input[name='csrf_token']"
        ).value;
        console.log(csrfToken);
        fetch(`<%=PUBLIC_URL+'/'+LOGIN_URL %>`, {
          method: "post",
          //csurf는 기본적으로 요청 헤더, 바디, 쿼리에서 CSRF 토큰을 찾으려고 시도
          headers: {
            "Content-Type": "application/json",
            "X-CSRF-Token": csrfToken,
          },
          body: JSON.stringify({
            username: username,
            password: password,
          }),
          credentials: "include",
        })
          .then((res) => res.json())
          .then((data) => {
            console.log(data);
          })
          .catch((err) => console.log(err));
      };

      const signup = () => {
        const username = document.querySelector(
          "#signup_form input[name='username']"
        ).value;
        const password = document.querySelector(
          "#signup_form input[name='password']"
        ).value;
        const csrfToken = document.querySelector(
          "#signup_form input[name='csrf_token']"
        ).value;
        console.log(csrfToken);
        fetch(`<%=PUBLIC_URL+'/'+SIGNUP_URL %>`, {
          method: "post",
          //csurf는 기본적으로 요청 헤더, 바디, 쿼리에서 CSRF 토큰을 찾으려고 시도
          headers: {
            "Content-Type": "application/json",
            "X-CSRF-Token": csrfToken,
          },
          body: JSON.stringify({
            username: username,
            password: password,
          }),
          credentials: "include",
        })
          .then((res) => res.json())
          .then((data) => {
            console.log(data);
          })
          .catch((err) => console.log(err));
      };
    </script>
  </head>
  <body>
    <h1>Restful API Server Test</h1>
    <p>hello <%=name %></p>
    <div>
      <h3>Login</h3>
      <form id="login_form" method="post" action="">
        <label for="username"
          >id : <input type="text" id="username" name="username"
        /></label>
        <br />
        <label for="password"
          >password : <input type="password" id="password" name="password"
        /></label>
        <input type="hidden" name="csrf_token" value="<%=csrfToken %>" />
        <input type="button" onclick="login()" value="login" />
      </form>
      <h3>signup</h3>
      <form id="signup_form" method="post" action="">
        <label for="username"
          >id : <input type="text" id="username" name="username"
        /></label>
        <br />
        <label for="password"
          >password : <input type="password" id="password" name="password"
        /></label>
        <input type="hidden" name="csrf_token" value="<%=csrfToken %>" />
        <input type="button" onclick="signup()" value="signup" />
      </form>
      <h3>access token issue</h3>
      역할 :
      <input type="text" name="role" value="member" /><br />
      <input
        id="submitBtn"
        type="button"
        value="권한 체크"
        onclick="check()"
      /><br />
      <input
        id="submitBtn"
        type="button"
        value="토큰 발급"
        onclick="issuing()"
      /><br />
      <input
        id="submitBtn"
        type="button"
        value="토큰 검증"
        onclick="verification()"
      /><br />
      <input
        id="submitBtn"
        type="button"
        value="토큰 갱신"
        onclick="refreshing()"
      /><br />
      <input
        id="submitBtn"
        type="button"
        value="토큰 삭제"
        onclick="removingToken()"
      /><br />
    </div>

    <div>
      <h3>응답 확인</h3>
      <div id="responseResult"></div>
    </div>
  </body>
</html>
