<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restful API Main Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script>
      const getCookie = (name) => {
        let matches = document.cookie.match(
          new RegExp(
            "(?:^|; )" +
              name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, "\\$1") +
              "=([^;]*)"
          )
        );
        return matches ? decodeURIComponent(matches[1]) : undefined;
      };

      function check() {
        let roleInput = document.querySelector('input[name="role"]').value;
        console.log(roleInput);
        fetch(`<%=TOKEN_URL %>/${roleInput}/<%=CHECK_URL %>`)
          .then((response) => response.json()) // 응답을 JSON으로 변환
          .then((data) => {
            console.log(data);
            // // 응답 데이터를 페이지에 표시
            // document.querySelector("#responseResult").textContent =
            //   JSON.stringify(data);
          })
          .catch((err) => {
            console.error(err);
            // 에러 메시지를 페이지에 표시
            // document.querySelector("#responseResult").textContent =
            //   "Error: " + error;
          });
      }
      function issuing() {
        let roleInput = document.querySelector('input[name="role"]').value;
        console.log(roleInput);
        fetch(`<%=TOKEN_URL %>/${roleInput}/<%=ISSUE_URL %>`)
          .then((response) => response.json()) // 응답을 JSON으로 변환
          .then((data) => {
            console.log(data);
            //발급바은 token을 cookie에 적재
            document.cookie = `token=${data.token};path=/`;
            // // 응답 데이터를 페이지에 표시
            // document.querySelector("#responseResult").textContent =
            //   JSON.stringify(data);
          })
          .catch((err) => {
            console.error(err);
            // 에러 메시지를 페이지에 표시
            // document.querySelector("#responseResult").textContent =
            //   "Error: " + error;
          });
      }
      function verification() {
        let roleInput = document.querySelector('input[name="role"]').value;
        let token = getCookie("token");
        fetch(`<%=TOKEN_URL %>/${roleInput}/<%=VERIFY_URL %>`, {
          headers: { token: token },
        })
          .then((response) => response.json()) // 응답을 JSON으로 변환
          .then((data) => {
            console.log(data);
            // // 응답 데이터를 페이지에 표시
            // document.querySelector("#responseResult").textContent =
            //   JSON.stringify(data);
          })
          .catch((err) => {
            console.error(err);
            // 에러 메시지를 페이지에 표시
            // document.querySelector("#responseResult").textContent =
            //   "Error: " + error;
          });
      }
      function refreshing() {
        let roleInput = document.querySelector('input[name="role"]').value;
        let token = getCookie("token");
        fetch(`<%=TOKEN_URL %>/${roleInput}/<%=REFRESH_URL %>`, {
          headers: { token: token },
        })
          .then((response) => response.json()) // 응답을 JSON으로 변환
          .then((data) => {
            console.log(data);
            document.cookie = `token=${data.token};path=/`;
          })
          .catch((err) => {
            console.error(err);
          });
      }
      const removingToken = () => {
        document.cookie = `token=;max-age=-1;`;
        alert("토큰 삭제 완료!");
        window.location.reload();
      };
    </script>
  </head>
  <body>
    <h1>Restful API Server Test</h1>
    <p>hello <%=name %></p>
    <div>
      <h3>access token issue</h3>
      역할 :
      <input type="text" name="role" value="member" /><br />
      <input
        id="submitBtn"
        type="button"
        value="권한 체크"
        onclick="check()"
      /><br />
      <input
        id="submitBtn"
        type="button"
        value="토큰 발급"
        onclick="issuing()"
      /><br />
      <input
        id="submitBtn"
        type="button"
        value="토큰 검증"
        onclick="verification()"
      /><br />
      <input
        id="submitBtn"
        type="button"
        value="토큰 갱신"
        onclick="refreshing()"
      /><br />
      <input
        id="submitBtn"
        type="button"
        value="토큰 삭제"
        onclick="removingToken()"
      /><br />
    </div>

    <div>
      <h3>응답 확인</h3>
      <div id="responseResult"></div>
    </div>
  </body>
</html>
